/* src/components/PasswordInput.sass */

.password-input
  position: relative
  display: flex
  align-items: center
  margin-bottom: 10px

  input
    width: 50%
  // Espace pour l'icône

  .password-toggle-button
    // Se met au meme endroit que la fin de l'input
    position: absolute
    right: 50%

    // Si pas y a des contours chelous
    background: none
    border: none
    cursor: pointer

    // Juste pour centrer proprement l'icône
    display: flex
    align-items: center
    justify-content: center
    padding: 5px 0 5px 5px

    &:focus
      outline: none

    svg
      width: 16px
      height: 16px
