.groupLikePage
  background:  linear-gradient(to right, #1b0202, #4d0404, #370202)
  text-align: center
  align-items: center
  justify-content: center
  height: 100vh
  width: 100vw
  overflow: scroll

  ul
    display: flex
    justify-content: center
    flex-wrap: wrap

  .movieItem
    list-style: none

    .cardContainer
     display: flex
     align-items: center

    .card
        height: 150px
        width: 100px
        margin: 6px
        border-radius: 10px

.popupOverlay
  border-radius: 20px
  overflow: scroll
  position: fixed
  top: 20%
  left: 10%
  width: 80%
  height: 60%
  background: rgba(14, 0, 0, 0.8)
  display: flex
  justify-content: center
  align-items: center

.popupContent
  height: 100%
  width: 100%
