.signUpGlobalStyle
    background: linear-gradient(to right, #893f3f, #e96060, #cc6f6f), linear-gradient(to bottom, #8b3aa9, #815353, #822828)
    background-blend-mode: multiply
    height: 100%
    width: 100%
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center