// Variables Sass
$border-color: #ccc
$border-radius: 8px
$padding: 10px
$background-color: #b26464
$active-background-color: #e0f7fa
$text-color: #ffffff
$hover-color: #007bff

// Footer principal
.footerPrefer
  width: 100%
  height: 20%
  flex-shrink: 0

.navFooter
    display: flex
    justify-content: space-between
    align-items: center
    padding: 10px
    color: white
    font-size: 1.2rem
    font-weight: bold



// Combo Box personnalisé
.customComboBox
  border: none
  margin-top: 10px
  margin-left: 10px
  position: relative
  width: 60%
  color: rgba(255, 255, 255, 0.76)


  // Groupe sélectionné
  .selectedGroup
    .action-buttons
      background-color: white
      align-items: center
      justify-content: center
      text-align: center


    .groupList

    border-top-left-radius: $border-radius
    border-top-right-radius: $border-radius
    padding: $padding
    background :  linear-gradient(-45deg, #1d0102, #060232, #39030f)
    cursor: pointer
    display: flex
    justify-content: space-between
    align-items: center

    .groupName
        color: $text-color

    .iconsContainer
      display: flex
      align-items: center
      gap: 5px
      color: white

    .dropdownIcon


  // Liste des groupes
  .groupList
    list-style: none
    padding: 0

    border-bottom-left-radius: $border-radius
    border-bottom-right-radius: $border-radius
    background-color: $background-color
    position: absolute
    width: 100%
    top: 100%
    // Positionné juste sous l'élément sélectionné
    left: 0
    z-index: 10

    border: none
    max-height: 200%
    overflow: scroll

    .groupItem
      display: flex
      justify-content: space-between
      align-items: center
      padding: $padding
      cursor: pointer
      background: linear-gradient(45deg, #1d0102, #060232, #39030f)
      border: #1b0202 1px solid
      border-top: none
      box-shadow: rgba(27, 2, 2, 0.39) 0px 0px 5px

      &:last-child
        border-bottom: none
      // Supprime la bordure pour le dernier élément

      &:hover
        background-color: lighten($background-color, 10%)

      &.active
        background-color: $active-background-color
        font-weight: bold


.groupSettingsIcon
  cursor: pointer
  color: $text-color
  height: 20px
  width: 20px

  // Taille ajustée pour réduire la hauteur

  &:hover
    color: $hover-color

